<div class="buttons-wrapper">
    <a href="https://github.com/BotStudios/modmailbot" class="logo">BotStudios/ModmailBot</a>
    <% if (locals.auth) { %>
    <div class="buttons">
      <a href="/logout" class="btn">Logout</a>
    </div>
    <% } %>
</div>
